:root {
  --principal-color:yellow;
}

body {
  background-image: url('https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: repeat;
  background-size:cover;
  
}
    

/* Homepage */
.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-title-home {
  color: var(--principal-color);
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #1b1b1b;
  color: #fff;
}

.nav-logo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; 
}

.nav-logo {
  max-height: 60%; 
}

.main-list-nav  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-list-nav li{
  margin-left: 20px;
}

.main-list-nav a {
  color: var(--principal-color);
  text-decoration: none;
  font-size: 1.2rem;
}

.main-list-nav a:hover {
  color: rgb(128, 128, 1);
}


/* Character-list */
.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(44, 43, 43);
}

.card-img{
  width: 300px;
  height: auto;
  object-fit: cover;
}


.card-title {
  margin-top: 0;
  font-size: 1.5em;
  color: var(--principal-color);
  text-align: center;
}

.card-button {
  background: none;
  border: 2px solid var(--principal-color);
  padding: 8px 16px;
  color: var(--principal-color);
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer; 
}


     
